.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f0f0f0; /* Fondo claro */
    -fx-padding: 20;
}

AnchorPane {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.text-field, .text-area {
    -fx-background-color: #ffffff;
    -fx-border-radius: 5;
    -fx-border-color: #009688;
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-pref-width: 80%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 150, 136, 0.2), 8, 0, 0, 2);
}

.text-field:focused, .text-area:focused {
    -fx-border-color: #00796b;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 150, 136, 0.5), 8, 0, 0, 2);
}

.button {
    -fx-background-color: linear-gradient(to bottom, #00bfae, #00796b);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 150, 136, 0.3), 5, 0, 0, 2);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #00796b, #004d40);
}

#botonEncriptarDES, #botonDesencriptarDES {
    -fx-background-color: #ff9800; /* Color naranja */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 152, 0, 0.3), 5, 0, 0, 2);
}

#botonEncriptarDES:hover, #botonDesencriptarDES:hover {
    -fx-background-color: #fb8c00;
}

#botonEncriptarDES:pressed, #botonDesencriptarDES:pressed {
    -fx-background-color: #ef6c00;
}

.button:pressed {
    -fx-background-color: #004d40;
}

.hbox {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

#reestablecer {
    -fx-background-color: #ff4081;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 64, 129, 0.3), 5, 0, 0, 2);
}

#reestablecer:hover {
    -fx-background-color: #f50057;
}

#reestablecer:pressed {
    -fx-background-color: #c51162;
}

#botonContrasenya, #botonComprobarContrasenya {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(63, 81, 181, 0.3), 5, 0, 0, 2);
}

#botonContrasenya:hover, #botonComprobarContrasenya:hover {
    -fx-background-color: #303f9f;
}

#botonContrasenya:pressed, #botonComprobarContrasenya:pressed {
    -fx-background-color: #1a237e;
}


#textoEncriptar {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #00796b;
}


#textoEncriptado {
    -fx-font-size: 13px;
    -fx-text-fill: #4e4e4e;
    -fx-background-color: #fafafa;
    -fx-border-color: #009688;
    -fx-border-radius: 5;
}


.text-field .prompt-text {
    -fx-fill: #009688;
}


.region {
    -fx-border-radius: 8;
}
